*{
    background-color: beige;
}
.container{
    width: 600px;
    margin: 0 auto;
    padding: 0 10px 100px 10px;
}
.heading{
    font-family: monospace;
    padding-bottom: 6px;
    border-bottom: 5px solid brown;
}

.about{
    font-family: monospace;
    margin: 50px 0 50px 0;
}
.notes{
    font-family: monospace;
    font-weight: 700;
}

img {
    height: 300px;
    width: 600px;
    display: block;
}